<div class="container container-custom">
  <br>
  <hr>
  <h2>Welcome <%= user.username %> </h2>
  <hr>
  <br>
  <div class="my-5">
    This application is made by NODE JS and MONGODB
  </div>
  <div class="my-5">
    This application is for online gaming shop
  </div>

</div>

