<!-- main seciton star -->
<section class="container container-custom mt-3">
  <div class="row">
    <div class="col-md-6">
      
    </div>
    <div class="col-md-6 fbox-flex">
      <form method="post">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" name="username" id="username" class="form-control">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" class="form-control">
        </div>
        <input type="submit" value="Confirm" class="btn btn-success full-width">
      </form>
    </div>
  </div>

  <hr>
  <p class="text-center my-4"> <a href="#" class="service-text">Customer Care</a></p>
  <hr>
</section>